# Ignore js files inside local chromium download on Travis.
**/chrome-linux/**
**/chrome-win32/**

**/node_modules/**
**/third_party/**

**/dist/**
lighthouse-extension/app/scripts


**/closure/*/*
coverage/**

# Typescript compiled
!lighthouse-cli/index.js
lighthouse-cli/*.js
lighthouse-cli/commands/*.js
lighthouse-cli/types/*.js
