node_modules
*.pyc
.DS_Store
dist
third_party/src
**/pages/scripts/lighthouse-report.js
npm-debug.log
artifacts.log
coverage
lighthouse-cli/results

results.html
last-run-results.html
.vscode

testexample.com*
