node_modules
.DS_Store
npm-debug.log
.vscode

lighthouse-extension/dist
lighthouse-core/third_party/src
**/pages/scripts/lighthouse-report.js
coverage

lighthouse-cli/results
results
results.html
last-run-results.html

*.trace.json
*.screenshots.html
*.report.html

closure-error.log

!lighthouse-cli/index.js
lighthouse-cli/*.map

lighthouse-cli/commands/*.map

lighthouse-cli/types/*.js
lighthouse-cli/types/*.map

assets

lighthouse-core/test
lighthouse-viewer
lighthouse-extension

.travis.yml
appveyor.yml

