# folders
.vscode/
test/

# dev files
.appveyor.yml
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
gulpfile.js

# exclude source TypeScript files
*.ts

# allow TypeScript Declaration Files
!*.d.ts
