# folders
.vscode/
assets/
coverage/
gulp/

lighthouse-core/scripts/
lighthouse-core/test/
lighthouse-core/third_party/src/
lighthouse-viewer/
lighthouse-extension/
lighthouse-cli/test/
lighthouse-cli/results/

!lighthouse-cli/index.js
lighthouse-cli/*.map
lighthouse-cli/commands/*.map
lighthouse-cli/types/*.js
lighthouse-cli/types/*.map

node_modules/
results/

# files
**/pages/scripts/lighthouse-report.js
*.report.html
*.screenshots.html
*.trace.json
.appveyor.yml
.DS_Store
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
closure-error.log
gulpfile.js
last-run-results.html
latest.artifacts.log
npm-debug.log
results.html
