<style>
  .http-resources {
    font-size: 14px;
  }
  .http-resource__url {
    margin-right: 8px;
  }
  .http-resource__protocol {
    color: #999;
  }
</style>

<div>
  <details class="http-resources">
    <summary>URLs</summary>
    {{#each this}}
      <div class="http-resource">
        <span class="http-resource__url">{{this.url}}</span>
        {{#if this.protocol}}
          <span class="http-resource__protocol">({{this.protocol}})</span>
        {{/if}}
      </div>
    {{/each}}
  </details>
</div>
